.h1Opmaak {
    text-align: center;
    margin: 24px auto;
    font-size: 34px;
}

.login-screen-content {
    background-image: url("./img/background.jpg");
}

.page-content {
    background: url(background4.jpg);
}

#btnLogin,
#btnWachtwoordVergeten,
#btnRegistreer,
#btnProfiel,
#btnAddBoek {
    border-radius: 24px;
    margin-left: 10px;
    margin-right: 10px;
}

#btnRegistreerLoginPagina,
#btnWachtwoordVergetenLoginPagina {
    background-color: transparent;
    color: #000099;
    margin-top: 1vh;
}

#btnRegistreerLoginPagina {
    float: left;
    margin-left: 8vw;
}

#inptEmailRegistratie,
#inptPasswordRegistratie,
#inptFirstNameRegistratie,
#inptLastNameRegistratie,
#inptCityRegistratie,
#inptPostalCodeRegistratie,
#inptPhoneNumberRegistratie,
#inptPasswordRegistratie,
#inptConfirmPasswordRegistratie,
#inptUsernameProfiel,
#inptEmailProfiel,
#inptZipcodeProfiel,
#inptCityProfiel,
#inptSchoolProfiel,
#inptOptionProfiel,
#inptPasswordProfiel {
    border-radius: 24px;
    background-color: lightgray;
    opacity: 0.7;
    text-indent: 10px;
    text-decoration: none;
}

#btnGDPRlink {
    background-color: transparent;
    margin-top: auto;
    margin-bottom: -55px;
    font-size: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#box {
    background-color: lightgray;
    opacity: 0.7;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5%;
}

.pBold {
    text-decoration: bold;
}