.h1Opmaak {
    text-align: center;
    margin: 24px auto;
    font-size: 34px;
}

.login-screen-content {
    background-image: url("./img/background.jpg"); 
}

.page-content {
    /*background-color: #363F80;*/
    background: url(background.jpg);
}

#btnLogin,
#btnWachtwoordVergeten,
#btnRegistreer,
#btnProfiel,
#btnAddBoek {
    border-radius: 10px;
    width: 65vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #4D236D;
    color: white;
}

#btnRegistreerLoginPagina,
#btnWachtwoordVergetenLoginPagina {
    background-color: transparent;
    color: #BDBDBD;
    margin-top: 1vh;
}

#btnRegistreerLoginPagina {
    float: left;
    margin-left: 10vw;
}

#inptEmailRegistratie,
#inptPasswordRegistratie,
#inptFirstNameRegistratie,
#inptLastNameRegistratie,
#inptCityRegistratie,
#inptPostalCodeRegistratie,
#inptPhoneNumberRegistratie,
#inptPasswordRegistratie,
#inptConfirmPasswordRegistratie,
#inptUsernameProfiel,
#inptEmailProfiel,
#inptZipcodeProfiel,
#inptCityProfiel,
#inptSchoolProfiel,
#inptOptionProfiel,
#inptPasswordProfiel {
    background-color: transparent;
    color: white;
    border-bottom: 1px solid white;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

#inptEmailLogin {
    margin-top: 4vh;
}

#inptEmailLogin,
#inptPasswordLogin {
    background-color: transparent;
    color: white;
    border-bottom: 1px solid white;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

#btnGDPRlink {
    background-color: transparent;
    margin-top: auto;
    margin-bottom: -55px;
    font-size: 10px;
}

#imgLogoBoekLogin {
    margin-top: 6vh;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#box {
    background-color: lightgray;
    opacity: 0.7;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5%;
}

.pBold {
    text-decoration: bold;
}